/*
LAYOUT: One-Column (Right) Fixed
DESCRIPTION: Two-column 950px fixed layout with one sidebar right of content
*/

body {
    min-width:95%;
}
#header {
    position:relative;
}
#branding {
    width:95%;
    margin:0 auto;
}
#access {
    position:relative;
}
.menu {
    width:90%;
    margin:0 auto;
}
#main {
    width:95%;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
#container {
    width:66%;
    float:left;
}
#content {
    margin:0 0 0 10px;
    width:95%
    overflow:hidden;
}
.main-aside {
    width:30%;
    float:right;
    position:relative;
    right:10px;
}
#secondary {
    clear:right;
}
#footer {    
    clear:both;
}
#subsidiary {
    width:90%;
    margin:0 auto;
    overflow:hidden;
}
#subsidiary .aside {
    float:left;
    margin:0 20px 0 0;
}
#subsidiary #third {
    margin:0;
}
#siteinfo {
    clear:both;
    width:90%;
    margin:0 auto;
}
